## BANKING RISK ANALYSIS

## PROJECT UNDERSTANDING

### 1.1 Project Context
Banks operate in a dynamic financial environment where understanding client risk is essential for maintaining financial stability and minimizing potential losses. Risk analytics enables banks to make informed lending decisions, manage portfolios effectively, and enhance customer engagement through data-driven insights.

### 1.2 Project Problem
Management lacks a consolidated, analytical view of how deposits, loans, income bands, and risk ratings interact, limiting proactive decision-making around balance sheet sustainability and risk mitigation.

The aim of this project is to develop a foundational understanding of **risk analytics in banking and financial services**. It focuses on how data can be leveraged to **minimize financial losses** and make informed decisions when lending to customers.

### 1.3 Project Objectives
This project leverages **Power BI dashboards** and analytical techniques to enable data-driven decision-making. The professional project objectives are:

1. To examine the structure and composition of Chatter House Bank’s loans and deposits in order to understand the bank’s overall balance sheet position.
2. To analyze the contribution of different loyalty segments and income bands to the bank’s deposit base and loan portfolio.
3. To assess the overall risk and leverage characteristics of the loan portfolio using relevant credit and risk indicators.
4. To develop data-driven insights and recommendations that support effective liquidity management, risk mitigation, and sustainable growth

### 1.4 Key Stakeholders
- **Risk Management Department** – Uses insights to shape credit and risk policies.  
- **Credit Officers & Loan Managers** – Identify high-risk clients and manage lending decisions.  
- **Customer Relationship Managers** – Target high-value clients for engagement and retention.  
- **Executive Management** – Uses dashboards to support strategic decisions.  
- **Data Analytics & IT Teams** – Implement and maintain the analytics workflow.

### 1.5 Project Questions
1. What is the structure and distribution of loans and deposits within Chatter House Bank?
2. How do loyalty classifications and income bands influence the distribution of deposits and loans?
3. What are the key risk and leverage characteristics of the bank’s loan portfolio across customer segments?
4. Which strategic actions can enhance liquidity resilience and balance risk with profitability at Chatter House Bank?

#### 2.0 DATA UNDERSTANDING AND INSPECTION

In [1]:
# Import necessary library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  

# Load the dataset
bank_data = pd.read_csv('../data/banking-clients.csv')  
bank_data.head()

,Client ID,Name,Age,Location ID,Joined Bank,Banking Contact,Nationality,Occupation,Fee Structure,Loyalty Classification,...,Bank Deposits,Checking Accounts,Saving Accounts,Foreign Currency Account,Business Lending,Properties Owned,Risk Weighting,BRId,GenderId,IAId
0,IND81288,Raymond Mills,24,34324,06-05-2019,Anthony Torres,American,Safety Technician IV,High,Jade,...,1485828.64,603617.88,607332.46,12249.96,1134475.30,1,2,1,1,1
1,IND65833,Julia Spencer,23,42205,10-12-2001,Jonathan Hawkins,African,Software Consultant,High,Jade,...,641482.79,229521.37,344635.16,61162.31,2000526.10,1,3,2,1,2
2,IND47499,Stephen Murray,27,7314,25-01-2010,Anthony Berry,European,Help Desk Operator,High,Gold,...,1033401.59,652674.69,203054.35,79071.78,548137.58,1,3,3,2,3
3,IND72498,Virginia Garza,40,34594,28-03-2019,Steve Diaz,American,Geologist II,Mid,Silver,...,1048157.49,1048157.49,234685.02,57513.65,1148402.29,0,4,4,1,4
4,IND60181,Melissa Sanders,46,41269,20-07-2012,Shawn Long,American,Assistant Professor,Mid,Platinum,...,487782.53,446644.25,128351.45,30012.14,1674412.12,0,3,1,2,5

In [2]:
#Inspect the data types and missing values
print("The number of rows and columns:", bank_data.shape)

bank_data.info()

The number of rows and columns: (3000, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Client ID                 3000 non-null   object
 1   Name                      3000 non-null   object
 2   Age                       3000 non-null   int64
 3   Location ID               3000 non-null   int64
 4   Joined Bank               3000 non-null   object
 5   Banking Contact           3000 non-null   object
 6   Nationality               3000 non-null   object
 7   Occupation                3000 non-null   object
 8   Fee Structure             3000 non-null   object
 9   Loyalty Classification    3000 non-null   object
 10  Estimated Income          3000 non-null   float64
 11  Superannuation Savings    3000 non-null   float64
 12  Amount of Credit Cards    3000 non-null   int64
 13  Credit Card Balance       3000 non-null   float64
 14  Bank Loans                3000 non-null   float64
 15  Bank Deposits             3000 non-null   float64
 16  Checking Accounts         3000 non-null   float64
 17  Saving Accounts           3000 non-null   float64
 18  Foreign Currency Account  3000 non-null   float64
 19  Business Lending          3000 non-null   float64
 20  Properties Owned          3000 non-null   int64
 21  Risk Weighting            3000 non-null   int64
 22  BRId                      3000 non-null   int64
 23  GenderId                  3000 non-null   int64
 24  IAId                      3000 non-null   int64
dtypes: float64(9), int64(8), object(8)
memory usage: 586.1+ KB

In [3]:
#Check for duplicates rows and columns
duplicated_rows = bank_data.duplicated().sum()
print("Number of duplicate rows:", duplicated_rows)

duplicated_columns = bank_data.duplicated().T.sum()
print("Number of duplicate columns:", duplicated_columns)

Number of duplicate rows: 0
Number of duplicate columns: 0

In [4]:

# Replace IDs with actual values

# 1. GenderId -> Gender
gender_mapping = {1: 'Male', 2: 'Female'}
bank_data['Gender'] = bank_data['GenderId'].replace(gender_mapping)
bank_data.drop('GenderId', axis=1, inplace=True)

# 2. BRId -> Banking Relationship
br_mapping = {
    1: 'Retail',
    2: 'Institutional',
    3: 'Private Bank',
    4: 'Commercial'
}
bank_data['Banking Relationship'] = bank_data['BRId'].replace(br_mapping)
bank_data.drop('BRId', axis=1, inplace=True)

# 3. IAId -> Investment Advisor
ia_mapping = {
    1: 'Victor Dean', 2: 'Jeremy Porter', 3: 'Ernest Knight', 4: 'Eric Shaw',
    5: 'Kevin Kim', 6: 'Victor Rogers', 7: 'Eugene Cunningham', 8: 'Joe Carroll',
    9: 'Steve Sanchez', 10: 'Lawrence Sanchez', 11: 'Peter Castillo', 12: 'Victor Gutierrez',
    13: 'Daniel Carroll', 14: 'Carl Anderson', 15: 'Nicholas Ward', 16: 'Fred Bryant',
    17: 'Ryan Taylor', 18: 'Sean Vasquez', 19: 'Nicholas Morrison', 20: 'Jack Phillips',
    21: 'Juan Ramirez', 22: 'Gregory Boyd'
}
bank_data['Investment Advisor'] = bank_data['IAId'].replace(ia_mapping)
bank_data.drop('IAId', axis=1, inplace=True)


print(bank_data[['Gender', 'Banking Relationship', 'Investment Advisor']].head())

   Gender Banking Relationship Investment Advisor
0    Male               Retail        Victor Dean
1    Male        Institutional      Jeremy Porter
2  Female         Private Bank      Ernest Knight
3    Male           Commercial          Eric Shaw
4  Female               Retail          Kevin Kim

In [5]:
display(bank_data.head())

,Client ID,Name,Age,Location ID,Joined Bank,Banking Contact,Nationality,Occupation,Fee Structure,Loyalty Classification,...,Bank Deposits,Checking Accounts,Saving Accounts,Foreign Currency Account,Business Lending,Properties Owned,Risk Weighting,Gender,Banking Relationship,Investment Advisor
0,IND81288,Raymond Mills,24,34324,06-05-2019,Anthony Torres,American,Safety Technician IV,High,Jade,...,1485828.64,603617.88,607332.46,12249.96,1134475.30,1,2,Male,Retail,Victor Dean
1,IND65833,Julia Spencer,23,42205,10-12-2001,Jonathan Hawkins,African,Software Consultant,High,Jade,...,641482.79,229521.37,344635.16,61162.31,2000526.10,1,3,Male,Institutional,Jeremy Porter
2,IND47499,Stephen Murray,27,7314,25-01-2010,Anthony Berry,European,Help Desk Operator,High,Gold,...,1033401.59,652674.69,203054.35,79071.78,548137.58,1,3,Female,Private Bank,Ernest Knight
3,IND72498,Virginia Garza,40,34594,28-03-2019,Steve Diaz,American,Geologist II,Mid,Silver,...,1048157.49,1048157.49,234685.02,57513.65,1148402.29,0,4,Male,Commercial,Eric Shaw
4,IND60181,Melissa Sanders,46,41269,20-07-2012,Shawn Long,American,Assistant Professor,Mid,Platinum,...,487782.53,446644.25,128351.45,30012.14,1674412.12,0,3,Female,Retail,Kevin Kim